swagger: "2.0"
info:
  description: Esta é a documentação da API do servidor AutomatizaSE.
  version: 1.0.0
  title: AutomatizaSE
  termsOfService:	https://www.automatizase.com/termos-de-servico/
  contact:
    email: contato@automatizase.com
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
host: app.automatizase.com
basePath: /
schemes:
  - https
produces:
- application/json; charset=utf-8
consumes:
- application/json; charset=utf-8
securityDefinitions:
  userApiKey:
    type: apiKey
    in: header
    name: api_access_token
    description: Este token pode ser obtido visitando a página de perfil ou via console Rails. Fornece acesso aos endpoints baseado nos níveis de permissão do usuário. Este token pode ser salvo por um sistema externo quando o usuário é criado via API, para realizar atividades em nome do usuário.
  agentBotApiKey:
    type: apiKey
    in: header
    name: api_access_token
    description: Este token deve ser fornecido pelo administrador do sistema ou obtido via console Rails. Este token pode ser usado para construir integrações de bot e só pode acessar APIs limitadas.
  platformAppApiKey:
    type: apiKey
    in: header
    name: api_access_token
    description: Este token pode ser obtido pelo administrador do sistema após criar um platformApp. Este token deve ser usado para provisionar bots de agente, contas, usuários e suas funções.
security:
  - userApiKey: []

paths:
  $ref: ./paths/index.yml
definitions:
  $ref: ./definitions/index.yml
parameters:
  $ref: ./parameters/index.yml

x-tagGroups:
  - name: Plataforma
    tags:
      - Contas
      - Usuários da Conta
      - Bots de Agente
      - Usuários
  - name: Aplicação
    tags:
      - Bots de Agente da Conta
      - Agentes
      - Respostas Prontas
      - Contatos
      - Etiquetas de Contato
      - Atribuição de Conversa
      - Etiquetas de Conversa
      - Conversas
      - Atributos Personalizados
      - Filtros Personalizados
      - Caixas de Entrada
      - Integrações
      - Mensagens
      - Perfil
      - Relatórios
      - Equipes
      - Webhooks
      - Regra de Automação
      - Central de Ajuda
  - name: Cliente
    tags:
      - API de Contatos
      - API de Conversas
      - API de Mensagens
  - name: Outros
    tags:
      - Página de Pesquisa CSAT
